<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- Safely block script extensions in uploads directory without triggering locked handlers 500 error -->
                <fileExtensions>
                    <add fileExtension=".php" allowed="false" />
                    <add fileExtension=".php5" allowed="false" />
                    <add fileExtension=".php7" allowed="false" />
                    <add fileExtension=".php8" allowed="false" />
                    <add fileExtension=".asp" allowed="false" />
                    <add fileExtension=".aspx" allowed="false" />
                    <add fileExtension=".jsp" allowed="false" />
                    <add fileExtension=".exe" allowed="false" />
                    <add fileExtension=".sh" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
